::selection {
  background: #F56C6C;
  color: #fff;
}


::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #DDDDDD;
}

#app,
body,
html {
  height: 100%;
  width: 100%;
  font-family: "Helvetica neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif !important;
  font-weight: 400;
}

.relative {
  position: relative;
}

.center-vertical {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.affix {
  position: sticky;
  top: 0;
  z-index: 999;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.affix-hidden {
  opacity: 0;
  transform: translateY(-20px);
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
  --tw-shadow-colored: 0 1px 3px 0 0 0 #0000, 0 1px 2px -1px 0 0 #0000 !important;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow) !important;
  transition: box-shadow 0.3s ease; /* Smooth transition */
}

.shadow:hover {
  --tw-shadow: 0 4px 6px 0 rgb(0 0 0 / .2), 0 2px 4px -1px rgb(0 0 0 / .1) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow) !important;
}

.arco-drawer-body {
  padding: 0 !important;
}

.drawer-body {
  padding: 30px 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.hand {
  cursor: pointer;
}

.m-auto {
  margin: 0 auto;
}

.content-layout {
  padding: 0 0.6vw;
}

.scrollbar {
  height: 100vh;
  overflow: auto;
}

.mt-10 {
  margin-top: 10px;
}

.arco-modal {
  border-radius: 10px !important;
}

.arco-modal-mask, .arco-drawer-mask {
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(9, 9, 9, 0.2) !important;
}

.arco-tabs-nav-type-card-gutter .arco-tabs-nav-tab .arco-tabs-tab,
.arco-tabs-nav-type-card .arco-tabs-nav-tab .arco-tabs-tab {
  background: var(--color-bg-4) !important;
}

.container {
  margin: 0.8vw;
  padding: 1.1vw;
}

.ant-card {
  background-color: var(--color-bg-2);
  border-radius: 5px;
  position: relative;
  transition: all .3s ease-in-out;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.ant-card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
}

.arco-tabs-nav-type-capsule .arco-tabs-nav-tab:not(.arco-tabs-nav-tab-scroll) {
  justify-content: center !important;
}

